In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [6]:
data=pd.read_csv(r"c:\users\user\Desktop\Costomer+OrderForm.csv")
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [9]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [10]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [13]:
observed=([[271,267,269,280],[29,33,31,20]])
observed

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [14]:
stat,p,dof,expected = chi2_contingency([[271,267,268,280],[29,33,31,20]])

In [15]:
stat

3.877619363810291

In [16]:
p

0.27498587042877354

In [17]:
dof

3

In [18]:
expected

array([[271.7264387, 271.7264387, 270.8206839, 271.7264387],
       [ 28.2735613,  28.2735613,  28.1793161,  28.2735613]])

In [21]:
alpha=0.05
prob=1-alpha
critical =chi2.ppf(prob,dof)
print('probability =%.3f,critical=%.3f,stat=%.3f' %(prob,critical,stat))
if abs(stat)>=critical:
    print('Dependent(reject ho),variable are related')
else:
    print('Independent(fail to reject ho)variable are not related)')

probability =0.950,critical=7.815,stat=3.878
Independent(fail to reject ho)variable are not related)

In [22]:
print('significance=%.3f,p=%.3f' %(alpha,p))
if p<=alpha:
    print('Dependend(reject h0)')
else:
    print('Independent(fail to reject h0)')

significance=0.050,p=0.275
Independent(fail to reject h0)